/*General setup*/
* {
	box-sizing:border-box;
	font-size:10px;
	font-family:Arial,Tahoma, sans-serif,serif;
}
html {
	background-color:rgb(236, 237, 236);
}
body {
	margin:0;
	width:100%;
}

.ninety_body{
	width:90%;
	margin:0 auto;
	margin-top:120px;
}

/*Стилизация элементов навигационного меню*/
nav {
	background-color:rgb(236, 237, 236);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding-left:5%;
	padding-right:5%;
}
nav ul {
	list-style:none;
	padding:0;
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-top:40px;
	margin-bottom:40px;
}
nav ul li {
	margin-left:8px;
	margin-right:8px;
	font-size:1.5em;
}
/*Делаем лого как фоновое изображение*/
.first_item {
	font-weight:bold;
	font-size:2em;
	flex:1;
	background-image:url('assets/logo.svg');
	background-size:2em, auto, cover;
	background-repeat:no-repeat;
	background-position:left;
	padding-left:2.6em;
	display:inline;
	line-height:2em;
}

/*Основная надпись*/
.parallax_1 h1 {
	color:white;
	font-size:6em;
	font-weight:bold;
	line-height:1.5em;
	margin-left:1em;
}
/*Кнопка под основной надписью*/
.button {
	color:rgb(20, 21, 20);
	margin-left:4em;
	font-size:1.5em;
	width:15em;
	background-color:rgb(236, 237, 236);
	line-height:3em;
	text-align:center;
}

/*Настройка параллакса 1*/
.parallax_1 {
	background-image:url('assets/first_parallax.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
/*Затемнение первого параллакса*/
.tint {
	background-color: rgba(0,0,0,.3);
	background-blend-mode: multiply;
}
/*Буфферная зона*/
.buffer_1 {
	height:60px;
	background-color:rgb(236, 237, 236);
}
/*Стилизация второй страницы*/
.second_page {
	display:flex;
	align-items:center;
	flex-direction:row;
	justify-content:center;
}
/*Настройка параллакса 2*/
.parallax_2 {
	background-image:url('assets/second_parallax.jpeg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:left;
	background-size:contain;
	height:100vh;
	width:100%;
}
/*Настройка контента справа от второго параллакса*/
.second_page_box {
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:left;
	justify-content:space-around;
}
.second_page_box h2 {
	margin-top:auto;
	font-size:4em;
}
.second_page_box p {
	font-size:1.5em;
	line-height:1.75em;
}
.button.about {
	margin-bottom:auto;
	background-color:rgb(20, 21, 20);
	color:white;
	margin-left:0;
	margin-top:35px;
}
/*Стилизация третьей страницы*/
.third_page {
	height:70vh;
	background-color:rgb(236, 237, 236);
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding-top:80px;
	padding-bottom:80px;
}
.third_page h2,
.fourth_page h2,
.fifth_page h2 {
	font-size:4em;
	text-align:center;
}
.third_page_box {
	display:flex;
	align-items:center;
	justify-content:space-between;
}
h3 {
	font-size:2em;
	color:rgb(160, 117, 36);
	text-align:center;
}
.third_page_box p {
	font-size:1.5em;
	text-align:center;
}
/*Стилизация четвертой страницы*/
.fourth_page {
	background-color:rgb(228, 229, 228);
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}
/*Стилизация заголовка*/
.fourth_page h2 {
	flex:1;
}
/*Стилизация flex-контейнера для изображений*/
.fourth_page_box {
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:100%;
	
	flex:7;
}
/*Стилизация первого изображения*/
.pic_1{
	background-image:url('assets/kitchen.jpeg');
	flex:1;
	height:100vh;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	/*Стилизация текста*/
	color:white;
	text-align:center;
	padding-top:25%;
	font-size:2em;
	font-weight:bold;
	
	
}
/*Стилизация второго изображения*/
.pic_2{
	background-image:url('assets/bathroom.jpeg');
	flex:1;
	height:100vh;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:contain;
	/*Стилизация текста*/
	color:white;
	text-align:center;
	padding-top:25%;
	font-size:2em;
	font-weight:bold;

}
/*Стилизация третьего изображения*/
.pic_3{
	background-image:url('assets/guestroom.jpg');
	flex:1;
	height:100vh;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	/*Стилизация текста*/
	color:white;
	text-align:center;
	padding-top:25%;
	font-size:2em;
	font-weight:bold;
	
		
}
/*Стилизация кнопки*/
.button.all_services {
	background-color:rgb(20, 21, 20);
	color:white;
	margin-left:0;
	margin-top:80px;
	margin-bottom:80px;
	flex:1;
}
/*Стилизация пятой страницы*/
.fifth_page {
	width:100%;
	height:100vh;
	justify-content:space-around;
	padding:0;
}
/*Стилизация бокса пятой страницы*/
.fifth_page_box {
	justify-content:space-around;
}
/*Стилизация элементов пятого бокса*/
.item_1_page_5 {
	background-image:url('assets/quots.svg');
	background-repeat:no-repeat;
	background-size:20%;
	padding-top:60px;
	background-position:top;
	line-height:3em;
}
/*Стилизация бокса шестой страницы*/
.sixth_page_box {
	width:100%;
	height:100vh;
	background-color:rgb(20, 21, 20);
	display:flex;
	align-items:center;
	justify-content:space-between;
}
/*Стилизация информации шестой страницы*/
.sixth_page_info h2 {
	color:white;
	font-size:4em;
}
.sixth_page_info p {
	font-size:1.5em;
	color:white;
	line-height:1.75em;
}
strong {
	font-size:1em;
}